{% set classes = classes %}

<section class="section--wide {{ classes | join(' ') }}">
  {% block content %}
   {{ content }}
  {% endblock content %}
  
  <div bp="container" class="section__guides">
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
  </div>
</section>