// Text: Global utilities
.eyebrow {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}


// Content Block: Global utilities
.content {
  &__block {
    display: flex;
    flex-direction: column;
    row-gap: $spacing--sm;

    @include media("medium") {
      column-gap: $spacing--md;
    }
  }
}

// Section: Global utilities
.section {
  &--wide {
    padding: 5rem 2.5rem;
    position: relative;

    @include media("medium") {
      padding: 10rem 4.5rem;
    }
  }

  &__guides {
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    grid: 1fr/repeat(4, 1fr);
    grid-gap: 2.5rem;
    z-index: -1;

    & .guide {
      height: 100%;
      width: 1px;
      background: linear-gradient(180deg, rgba(0,0,0, 0.1),rgba(0,0,0, 0.2) 50%,transparent 0,transparent);
      background-size: 0.1rem 0.8rem;
      opacity: 0.5;

      &:last-of-type {
        position: absolute;
        right: 0;
      }
    }
  }

  //////////////////

  &__content {
    &[bp~="grid"] {
      row-gap: 7.5rem;
      column-gap: 6rem;
    }
  }

  &__copy {
    &[bp~="grid"] {
      row-gap: .8rem;
    }
  }
}


.copy {
  // SVG 
  &__icon {
    position: relative;

    svg {
      width: 4rem;
      height: 4rem;
      fill: $color-primary--darkest;
    }

    &::after {
      content: "";
      background-color: $color-secondary--tint;
      border-radius: 0.3rem;
      height: 100%;
      position: absolute;
      top: -5px;
      left: 25px;
      width: 2.5rem;
      z-index: -1;
    }
  }

	// Copy head line variation
  &__head {
    p {
      @extend .bolder;
    }

    h2 {
      margin-bottom: 1rem;
    }
  }
	// Copy content spacing
  &__body {

    p {
			margin-bottom: 1.2rem;

			&:last-of-type {
				margin-bottom: 0;
			}

			& + ul {
				margin-top: 1.2rem;
			}
		}

		ul {
			margin-bottom: 1.2rem;

			&:last-of-type {
				margin-bottom: 0;
			}

			& + p {
				margin-top: 1.2rem;
			}
		}
  }

  // Footer
  &__footer {
    margin-top: 1rem;
  }
}

// Global image
figure {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

// Skip to content
a.skip-link {
  left:-99rem;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
