.section {
  &--wide {
    padding: 5rem 2.5rem;

    @include media("medium") {
      padding: 7.5rem 4.5rem;
    }
  }

  &__content {
    &[bp~="grid"] {
      row-gap: 7.5rem;
      column-gap: 6rem;
    }
  }

  &__copy {
    &[bp~="grid"] {
      row-gap: .8rem;
    }
  }
}


.copy {
  // SVG 
  &__icon {
    position: relative;

    svg {
      width: 4rem;
      height: 4rem;
      fill: $color-primary--darkest;
    }

    &::after {
      content: "";
      background-color: $color-secondary--tint;
      border-radius: 3px;
      height: 100%;
      position: absolute;
      top: -5px;
      left: 25px;
      width: 2.5rem;
      z-index: -1;
    }
  }

	// Copy head line variation
  &__head {
    p {
      @extend .bolder;
    }

    h2 {
      margin-bottom: 1rem;
    }
  }
	// Copy content spacing
  &__body {

    p {
			margin-bottom: 1.2rem;

			&:last-of-type {
				margin-bottom: 0;
			}

			& + ul {
				margin-top: 1.2rem;
			}
		}

		ul {
			margin-bottom: 1.2rem;

			&:last-of-type {
				margin-bottom: 0;
			}

			& + p {
				margin-top: 1.2rem;
			}
		}
  }

  // Footer
  &__footer {
    margin-top: 1rem;
  }
}

// Global image
figure {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

// Skip to content
a.skip-link {
  left:-99rem;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
