// Type
$font-family-global: 'Rubik', sans-serif;
$regular: 400;
$bold: 500;
$bolder: 600;

// Media size
$small: 720px;
$medium: 960px;
$large: 1200px;

$breakpoints: (
  'small':  ( min-width:  $small ),
  'medium': ( min-width:  $medium ),
  'large':  ( min-width: $large ),
) !default;


// Spacing
$spacing--xs: 10px;
$spacing--sm: 15px;
$spacing--md: 25px;
$spacing--lg: 40px;

// Colors
$color-primary: #F2A076;
$color-primary--light:#5B9581;
$color-primary--lighter:#8EC9B3;
$color-primary--darkest:#003727;
$color-secondary: #fff;
$color-secondary--tint: #C2FFE8;
$color-primary--pastel: #28423a;
$color-primary--pastel-tint: #1d3931;
// Text
$text-color--light: #fff;
$text-color--dark: #4A4A4A;
$link-color: $color-primary;

// Button
$button-color-primary: $color-primary;
$button-color-secondary: $color-secondary;

// Opacity
$light-70: rgba($color-secondary, 0.7);

// Border
$border-radius: 4px;

// Box shadow
$image-shadow-inset: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);

$image-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -15px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
// Card shadow
$card-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;


