.carousel {
  & .embla {
    &__container {
      column-gap: 2rem;
    }

    &__slide {
      flex: 0 0 40%;
      min-width: 25rem;
    }
  }
}

.card {
  background-color: #fffdfa;
  padding: 2.5rem;
  border: 0.1rem solid $color-primary;
  border-radius: 0.8rem;
}