.two-cols {

  &__media {

    figure {
      border-radius: 4px;
      box-shadow: $image-shadow;
      overflow: hidden;
    }

    &.resized {
      height: 100%;
      width: 100%;

      figure {
        position: relative;
        height: 100%;
        width: 100%;
      }

      img {
        height: 100%;
        object-fit: cover;

      }
    }
  }

  &__cta {
    margin-top: 2.5rem;
  }

    &__cta-group {
      &--btn {
      margin-right: 25px;
    }
  }
}