.footer {
  background-color: $color-primary--pastel;
  color: $light-70;
	@include font-size(16, 24);

	&__links {
		.menu-item__link {
			color: $light-70;
			text-transform: none;
			@include font-size(14, 20);
		}
	}

	&__copyright {
		background-color: $color-primary--pastel-tint;
		padding: 1.5rem 2.5rem;
		@include font-size(12);

    @include media("medium") {
      padding: 1.5rem 4.5rem;
    }
	}
	
}
