{#
  Title: Features Icons
  Description: Section to showcases features with icons
  Category: formatting
  Icon: admin-comments
  Keywords: features icons blocks
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: center
  SupportsMode: false
  SupportsMultiple: true
#}

{% set featureContent = fields.features_icon_block %}
{% set mainHeadline = featureContent.main_headline %}
{% set mainSubhead = featureContent.main_subhead %}
{% set mainBody = featureContent.main_body %}

{% extends "partial/section-block.twig" %}

{% set classes = ['features-icons'] %}

{% block content %}
<div bp="container">
  <div class="section__content" bp="grid 12">
    <div class="section__content--wrapper">
      <div bp="10--max">
        {% include "partial/copy-block.twig" with 
          {
            subhead: mainSubhead,
            h2: mainHeadline,
            body_plain: mainBody,
          }
        %}
      </div>
    </div>
    <div class="section__content--wrapper">
      <div bp="grid 6 3@md">
        {% for item in featureContent.feature_item %}
        <div class="feature-icons__item">
          {% include "partial/copy-block.twig" with 
            {
              p: item.headline,
              body_plain: item.body,
              icon: item.icon,
            }
          %}
        </div>
        {% endfor %}
       
      </div>
    </div>
  </div>
</div>
{% endblock content %}
